<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="sessionScopedTemporaryDirectory"
          class="com.example.TemporaryDirectory" scope="session">
        <constructor-arg index="0" value="file://#{systemProperties['java.io.tmpdir'] ?: '/tmp/app'}/app"/>
        <constructor-arg index="1" value="#{T(java.util.UUID).randomUUID().toString()}"/>
        <aop:scoped-proxy />
    </bean>

    <bean id="requestScopedTemporaryDirectory"
          class="com.example.TemporaryDirectory" scope="request">
        <constructor-arg index="0" value="#{@sessionScopedTemporaryDirectory.directory}"/>
        <constructor-arg index="1" value="#{T(java.util.UUID).randomUUID().toString()}"/>
        <aop:scoped-proxy />
    </bean>

    <aop:aspectj-autoproxy/>

</beans>
